 .layout {
  min-height: 100vh;
  background-color: #f5f5f5;
}

.contentLayout {
  margin-left: 240px;
  transition: margin-left 0.2s;
}

.content {
  background-color: #f5f5f5;
  min-height: 100vh;
}

.pageContent {
  padding: 24px;
  background-color: #f5f5f5;
  min-height: calc(100vh - 64px);
}

@media (max-width: 768px) {
  .contentLayout {
    margin-left: 0;
  }
}


