.layout {
  min-height: 100vh;
  background-color: #f5f5f5;
}

.contentLayout {
  margin-left: 280px;
  transition: margin-left 0.2s;
  width: calc(100% - 280px);
  min-height: 100vh;
}

.content {
  background-color: #f5f5f5;
  min-height: 100vh;
  width: 100%;
}

.pageContent {
  padding: 24px;
  background-color: #f5f5f5;
  min-height: calc(100vh - 64px);
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .contentLayout {
    margin-left: 0;
    width: 100%;
  }
}
